.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px 100px;
  gap: 100px;

  height: 1210px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/hero-section.png);
  background-position: center;
}

.hero__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  gap: 32px;

  width: 100%;
  height: 98px;
}

.hero__header--logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 8.75rem;
  height: 1.72rem;
}

.fa-bars {
  display: flex;
  width: 50px;
  height: 50px;
  color: white;
  align-items: center;
  justify-items: center;
}

.hero__header__nav-menu {
  display: none;
  gap: 5%;
  color: white;
}

.hero__header__log-menu {
  display: none;
  gap: 5%;
  color: white;
}

.hero__header__nav-menu--link {
  color: white;
}

.hero__header__log-menu--link {
  color: white;
}

.hero__header__nav-menu--link:hover {
  color: white;
  font-weight: bold;
  border-bottom-color: #ff7757;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  /*text-decoration: underline;
    text-decoration-color: #ff7757;
    text-decoration-thickness: 0.2rem;*/
}

.hero__header__log-menu--link:hover {
  color: white;
  background-color: #ff7757;
  border-radius: 0.2rem;
  border-color: #ff7757;
  border-style: solid;
  border-width: 0.2rem;
}

@media (min-width: 1040px) {
  .hero__header__nav-menu {
    display: flex;
  }

  .hero__header__log-menu {
    display: flex;
    gap: 5%;
    color: white;
    width: 10rem;
  }

  .fa-bars {
    display: none;
    width: 50px;
    height: 50px;
    color: white;
    align-items: center;
    justify-items: center;
  }
}

.hero-main__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.hero-main__book__fill{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 2%;
    margin-top: 5%;
    border-radius: 5% 5% 0 0;
    width: 80%;
    gap: 1rem;
}

.hero-main__book__button{
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    background-color:#ff7757;
    padding: 2%;
    margin-top: 0%;
    border-radius: 0 0 5% 5%;
    width: 80%;
    color:white;
}

.hero-main__book__fill__label {
  
    color:gray;
}

.hero-main__book__fill__input {
    font-family:Playfair Display;
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #07074D;
    outline: none;
    resize: none;
}

.hero-main__book__text{
    font-size: 2rem;
    display: inline;
}
